<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- servlet 定义 -->
	<servlet>
	        <servlet-name>ErrorHandler</servlet-name>
	        <servlet-class>com.souvc.servlet.ErrorHandler</servlet-class>
	</servlet>
	<!-- servlet 映射 -->
	<servlet-mapping>
	        <servlet-name>ErrorHandler</servlet-name>
	        <url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	
	
	 <servlet> 
    <!-- 类名 -->  
    <servlet-name>HelloForm</servlet-name>
    <!-- 所在的包 -->
    <servlet-class>com.souvc.servlet.HelloForm</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <!-- 访问的网址 -->
    <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>
	
	
	 <servlet> 
	    <!-- 类名 -->  
	    <servlet-name>ReadCookies</servlet-name>
	    <!-- 所在的包 -->
	    <servlet-class>com.souvc.servlet.ReadCookies</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>ReadCookies</servlet-name>
	    <!-- 访问的网址 -->
	    <url-pattern>/ReadCookies</url-pattern>
    </servlet-mapping>
	
	
	
	 <servlet> 
	    <!-- 类名 -->  
	    <servlet-name>DeleteCookies</servlet-name>
	    <!-- 所在的包 -->
	    <servlet-class>com.souvc.servlet.DeleteCookies</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>DeleteCookies</servlet-name>
	    <!-- 访问的网址 -->
	    <url-pattern>/DeleteCookies</url-pattern>
    </servlet-mapping>
	
	
	
	
	
	<!--如果有错误状态代码出现，不管为 404（Not Found 未找到）或 403（Forbidden 禁止），则会调用 ErrorHandler 的 Servlet。  -->
	<!-- error-code 相关的错误页面 -->
	<error-page>
	    <error-code>404</error-code>
	    <location>/ErrorHandler</location>
	</error-page>
	
	<error-page>
	    <error-code>403</error-code>
	    <location>/ErrorHandler</location>
	</error-page>
	
	
	<!-- 如果 Web 应用程序抛出 ServletException 或 IOException，那么 Web 容器会调用 ErrorHandler 的 Servlet。  -->
	<!-- exception-type 相关的错误页面 -->
	<error-page>
	    <exception-type>javax.servlet.ServletException</exception-type >
	    <location>/ErrorHandler</location>
	</error-page>
	
	<error-page>
	    <exception-type>java.io.IOException</exception-type >
	    <location>/ErrorHandler</location>
	</error-page>
  
</web-app>