<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- servlet 定义 -->
	<servlet>
	        <servlet-name>ErrorHandler</servlet-name>
	        <servlet-class>com.souvc.servlet.ErrorHandler</servlet-class>
	</servlet>
	<!-- servlet 映射 -->
	<servlet-mapping>
	        <servlet-name>ErrorHandler</servlet-name>
	        <url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	
	
	<!--如果有错误状态代码出现，不管为 404（Not Found 未找到）或 403（Forbidden 禁止），则会调用 ErrorHandler 的 Servlet。  -->
	<!-- error-code 相关的错误页面 -->
	<error-page>
	    <error-code>404</error-code>
	    <location>/ErrorHandler</location>
	</error-page>
	
	<error-page>
	    <error-code>403</error-code>
	    <location>/ErrorHandler</location>
	</error-page>
	
	
	<!-- 如果 Web 应用程序抛出 ServletException 或 IOException，那么 Web 容器会调用 ErrorHandler 的 Servlet。  -->
	<!-- exception-type 相关的错误页面 -->
	<error-page>
	    <exception-type>javax.servlet.ServletException</exception-type >
	    <location>/ErrorHandler</location>
	</error-page>
	
	<error-page>
	    <exception-type>java.io.IOException</exception-type >
	    <location>/ErrorHandler</location>
	</error-page>
  
</web-app>