<?xml version="1.0" encoding="UTF-8"?>
<web-app>

   <servlet>  
     <!-- 类名 -->  
    <servlet-name>Refresh</servlet-name>  
    <!-- 所在的包 -->  
    <servlet-class>com.souvc.servlet.Refresh</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>Refresh</servlet-name>  
    <!-- 访问的网址 -->  
    <url-pattern>/Refresh</url-pattern>  
    </servlet-mapping>  
  
</web-app>